<div class="ik-topo fixed-top">
  <nav class="navbar navbar-default" id="main-navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="navbar-brand">
          

        </div>
      </div>

      <div class="text-center">
        <a routerLink="">
          <img alt="Designer" src="../../../../assets/img/logo_ac_left.png" title="Home" data-toggle="tooltip"
            data-placement="bottom" style="margin-top: -6px" />
        </a>
      </div>

      <div>
        <a href=# (click)="logon()" style="margin-left: 20px;" title="Login Academus" data-toggle="tooltip"
          data-placement="bottom">
          <i class="fa fa-sign-out" style="color: white"></i>
        </a>
      </div>
    </div>
  </nav>
</div>

<div class="page card-transparente">
  <router-outlet></router-outlet>
</div>